@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">მთავარი გვერდი</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                დომენები
                <a href="/account/addaccount"><i class="fas fa-plus ml-3"></i></a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>დომენი</th>
                                <th>კომპანია</th>
                                <th>პაკეტი</th>
                                <th>პაკეტის აღწერა</th>
                                <th>ვადა</th>
                                <th>SSL</th>
                                <th>მოქმედება</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model.Accounts)
                            { 
                                <tr>
                                    <td>@item.DomainName</td>
                                    <td>@item.Company.Name</td>
                                    <td>@item.Package.Name</td>
                                    <td>@item.Package.Description</td>
                                    <td>@item.PayDate.AddMonths(item.Term.Value)</td>
                                    <td>@(item.SSLEnabled == 1 ? "ჩართული" : "გამორთული")</td>
                                    <td class="actions">
                                        <a class="sb-nav-link-icon" href="/account/editaccount/@item.Id">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="/account/deleteaccount/@item.Id" class="sb-nav-link-icon">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
