@model PriceViewModel

@{ ViewData["Title"] = "ფასის რედაქტირება"; }


<div id="layoutAuthentication_content">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h4 class="text-center font-weight-light">ფასის რედაქტირება</h4></div>
                        <div class="card-body">
                            <form asp-action="UpdatePrice" method="post">
                                <input type="hidden" asp-for="@Model.Price.Id" />
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="@Model.Price.PackageId" class="small mb-1">პაკეტი</label>
                                            <select asp-for="@Model.Price.PackageId" class="form-control">
                                                <option value="">აირჩიე პაკეტი</option>
                                                @foreach (var item in Model.Packages)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>
                                            <span asp-validation-for="@Model.Price.PackageId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="@Model.Price.TermId" class="small mb-1">ვადა</label>
                                            <select asp-for="@Model.Price.TermId" class="form-control">
                                                <option value="">აირჩიე ვადა</option>
                                                @foreach (var item in Model.Terms)
                                                {
                                                    <option value="@item.Id">@item.Value</option>
                                                }
                                            </select>
                                            <span asp-validation-for="@Model.Price.TermId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="@Model.Price.PriceValue" class="small mb-1">ფასი</label>
                                            <input asp-for="@Model.Price.PriceValue" class="form-control py-3" type="text" placeholder="ჩაწერე ფასი" />
                                            <span asp-validation-for="@Model.Price.PriceValue" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-4 mb-0">
                                    <input type="submit" class="btn btn-primary btn-block" value="ფასის რედაქტირება" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
